.app {
  min-height: 100%;
  overflow: auto;
}

// Variables
$grey-lightest: #f9f9f9;
$grey-light: #f2f2f2;
$grey-middle: #e1e1e1;
$grey-dark: #615b5b;
$grey-darker: #4b4646;
$black-grey: #302c2c;
$yellow-light: #fff2ad;
$yellow-middle: #ffe769;
$yellow-dark: #ebde9a;

// light theme
$chat-bg-clr: $grey-lightest;
$text-clr: $black-grey;

// dark theme
/*
$chat-bg-clr: $black-grey;
$text-clr: white;
*/
