@import "./index.scss";

.app {
    min-height: 100%;
    overflow: auto;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2em;
    background-color: $grey-lightest;
}

.container {
    position: relative;
    padding-top: 2em;
}

.settingsOverlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
}
