.message {
    position: relative;
    background: #00aabb;
	border-radius: 0.4em;
	display: table;
    // width: 10em;
    padding: 0.5em;
    margin: 1.8em 0.5em;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 10%;
        width: 0;
        height: 0;
        border: 0.844em solid transparent;
        border-bottom-color: #00aabb;
        border-top: 0;
        border-left: 0;
        margin-left: -0.422em;
        margin-top: -0.844em;
    }

    &.sent {
        background-color: #cdf;
		margin-left: auto;
		text-align: right;
    }

    &.sent:after {
        left: 75%;
        width: 0;
        height: 0;
        border: 0.625em solid transparent;
        border-bottom-color: #cdf;
        border-top: 0;
        border-right: 0;
        margin-left: -0.312em;
        margin-top: -0.625em;
    }
}
