@import "../../index.scss";

.message {
    position: relative;
    background: $yellow-dark;
    border-radius: 0 20px 20px 20px;
    display: table;
    padding: 1.1em;
    margin: 1.8em 0.5em;
    color: $grey-dark;

    &.sent {
        background-color: white;
				border: 1px solid $grey-lightest;
        border-radius: 20px 20px 0 20px;
        margin-left: auto;
        text-align: right;
    }
}

.messageInfo {
    display: flex;
    justify-content: space-between;
    width: 7em;

    .author {
        font-size: 1em;
        line-height: 1em;
        font-weight: bold;
    }

    .sentDate {
        font-size: 0.8em;
        font-weight: 300;
    }
}

.text {
  font-size: 0.9em;
  text-align: left;
  margin-top: 5px;
}
