@import "../../index.scss";

.menu {
    display: flex;
    justify-content: flex-end;
		align-items: center;
		height: 100%
}

.toggleSettings {
    border: none;
    background: none;
    padding: 0.3em 0.8em;
		img {
			width: 25px;
		}
}
