@import "../../index.scss";

.chat {
  overflow: auto;
  background-color: $grey-lightest;
}

.hidden {
    height: 5em;
    visibility: hidden;
}

.bottom {
    width: 100%;
    height: 5em;
    position: fixed;
    bottom: 0;
}
